.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar > * {
    float: left;
  }
  
.navbar > * {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.navbar > *:hover {
    background-color: rgb(153, 153, 153);
    color: black;
  }